// These colors are specific to the theme. Do not use in a package!

@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;

@cyan: #6BB;
@blue: #8ae;
@purple: #C9C;
@green: #6c6;
@red: #c66;
@orange: #e96;
@light-orange: #fc6;

/*
  Oceanic Next palette

  https://dribbble.com/shots/1921103-Oceanic-Next-Theme
*/
@oceanic-very-dark-gray: #17202B;
@oceanic-very-light-gray: #ECECED;
@oceanic-next-green: #99C794;
@oceanic-next-light-purple: #C594C5;
@oceanic-next-dark-purple: #BB80B3;
@oceanic-next-blue: #6699CC;
@oceanic-next-red: #EC5F67;
@oceanic-next-cyan: #5FB3B3;

// Lightened...
@oceanic-next-light-cyan: lighten(@oceanic-next-cyan, 5%);
@oceanic-next-dark-cyan: darken(@oceanic-next-cyan, 5%);
